WpfPresentacion/Connected Services/ServiceReference1/SvcPost.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SvcPost" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49984/SvcPost.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49984/SvcPost.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISvcPost_Crear_InputMessage">
    <wsdl:part name="parameters" element="tns:Crear" />
  </wsdl:message>
  <wsdl:message name="ISvcPost_Crear_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcPost_Modificar_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar" />
  </wsdl:message>
  <wsdl:message name="ISvcPost_Modificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcPost_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="ISvcPost_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcPost_ListarTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodo" />
  </wsdl:message>
  <wsdl:message name="ISvcPost_ListarTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISvcPost">
    <wsdl:operation name="Crear">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcPost/Crear" message="tns:ISvcPost_Crear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcPost/CrearResponse" message="tns:ISvcPost_Crear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcPost/Modificar" message="tns:ISvcPost_Modificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcPost/ModificarResponse" message="tns:ISvcPost_Modificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcPost/Eliminar" message="tns:ISvcPost_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcPost/EliminarResponse" message="tns:ISvcPost_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTodo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcPost/ListarTodo" message="tns:ISvcPost_ListarTodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcPost/ListarTodoResponse" message="tns:ISvcPost_ListarTodo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISvcPost" type="tns:ISvcPost">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Crear">
      <soap:operation soapAction="http://tempuri.org/ISvcPost/Crear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <soap:operation soapAction="http://tempuri.org/ISvcPost/Modificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/ISvcPost/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTodo">
      <soap:operation soapAction="http://tempuri.org/ISvcPost/ListarTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SvcPost">
    <wsdl:port name="BasicHttpBinding_ISvcPost" binding="tns:BasicHttpBinding_ISvcPost">
      <soap:address location="http://localhost:49984/SvcPost.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>